.contact-container {
  background-color: #050807;
  position: relative;
  overflow: hidden;
  z-index: 0; /* establishes stacking context */
}

.contact-container::before {
  content: "";
  position: absolute;
  inset: 0; /* shorthand for top, right, bottom, left = 0 */
  z-index: -1; /* keep it just behind content, not too far */
  
  background-image:
    radial-gradient(
      circle at 110% -10%,
      rgba(40, 200, 140, 0.25) 5%,
      transparent 40%
    ),
    radial-gradient(
      circle at -10% 70%,
      rgba(40, 200, 140, 0.2) 5%,
      transparent 35%
    );
  
  background-repeat: no-repeat;
  filter: blur(60px);
  pointer-events: none; /* make sure form inputs are always clickable */
}
