.navbar-container {
    /* background-color:#050807; */
    background: #13a337;

}
nav{
    /* background-color: #13a337; */

}
.nav-links{
    /* color: violet; */
    cursor: pointer;
    position: relative;
}

.nav-links:hover{
    cursor: pointer;
}
.nav-links::after{
    content: "";
    color: #13a337;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s;
}
.nav-links:hover::after{
    transform: scaleX(1);
}